
label
{
    font-size: 1.5em;
    margin: 1em;
}

#iuto_livretbundle_image_imageFile_file
{
    margin-left: 2em;
}

#iuto_livretbundle_image_submit
{
    margin-top: 3em;
    margin-left: 2em;
}

#livret_cancel_add_img
{
    margin-left: 30em;
    margin-top: -4em;
}