
.control-label
{
    margin: 1em 10em 1em 0em;
    padding: auto;
    font-size: 1.5em;
}


#livret_add_img
{
    padding-top: 5%;
    margin-left: 2em;
    width: 40%;
    margin-bottom: 2em;
}

#livret_add_img > a
{
    margin-top: auto;
    margin-left: 2em;
}

#images
{
    margin-left: 2em;
    width: 60%;
}

#key_words_project
{
    margin-top: 2em;
    margin-left: 2em;
    width: 80%;
}

.add-word
{
    margin-top: 0em !important;
    font-size: 1.2em;
}

#iuto_livretbundle_mot_submit
{
    margin-left: 30%;
    margin-top: -5.4em !important;
}

#correction_accept_wordImg
{
    margin-left: 4em;
    margin-top: 3em;
    margin-bottom: 5em;
}

#livret_cancel_create_student
{
    margin-left: 40%;
    margin-top: 3em;
    margin-bottom: 5em;
}

.label-info
{
    font-size: 1em;
    margin: 2em !important;
}

#iuto_livretbundle_mot_mot
{
    width: 26%;
    margin-left: 2em;
}

#key_words
{
    margin-left: 2em;
}