
#livret_add_img
{
    margin-left: 2em;
    width: 30em;
    margin-bottom: 2em;
}

#livret_add_img > a
{
    margin-top: auto;
    margin-left: 2em;
}

#images_projet
{
    height: 10em;
    margin-top: -41em;
}

#images
{
    margin-left: 2em;
}

#images > a > img
{
    height: 7em;
    width: 7em;
}

#key_words_project
{
    margin-top: -10em;
    margin-left: 2em;
    width: 40em;
}

.add-word
{
    margin-top: 0em !important;
    font-size: 1.2em;
}

/*#livret_add_word*/
/*{*/
/*margin-left: -2em;*/
/*}*/
