
h1
{
    padding: 0.5em
}

h2
{
    font-size: 2em;
    margin-left: 2em;
}


#choose_project_name
{
    margin-left: 1em;
    margin-top: 0.5em;
    font-size: 1.5em;
    width: 45%;
}

#livret_modif_btn
{
    margin-top: -7%;
    margin-left: 50%;
}
#livreto_see_btn
{
    margin-top: -7%;
    margin-left: 5em;
}

.list-group-item
{
    padding: 0.2em;
    margin: 0.2em;
    height: auto;
    width: 72%;
    margin-left: 4em;
}

#livret_btn_goto_home
{
    margin: 1em;
    margin-top: 2em;
    font-size: 1.2em;
}

#choose_project
{
    margin: 2em;
}

#delete_btn
{
    margin-left: 5%;
}
