
h1
{
    padding: 0.5em
}

h2
{
    font-size: 2em;
}

#intitule
{
    font-size: 1.5em;
}

#choose_project_enCours
{
    margin: 2em;
    margin-left: 4em;
    margin-right: 5em;
}

#choose_project_enCours > ul
{
    margin-left: 1em;
    margin-top: 1em;
}

#choose_project_fini
{
    margin: 2em;
    margin-left: 4em;
    margin-right: 5em;
}

#choose_project_fini > ul
{
    margin-left: 1em;
    margin-top: 1em;
}

.correction
{
    font-size: 1.2em;
}

.pick_project
{
    margin-left: 1em;
}

#livret_btn_goto_home
{
    margin: 1em;
    font-size: 1.2em;
}

#choose_project_name
{
    margin-left: 1em;
    margin-top: 0.5em;
    font-size: 1.5em;
    width: 50%;
}

#livret_modif_btn
{
    margin-top: -7%;
    margin-left: 50%;
}
#livreto_see_btn
{
    margin-top: -7%;
    margin-left: 9%;
}
#livreto_see_finished_btn
{
    margin-top: -7%;
    margin-left: 50%;
}
.list-group-item
{
    padding: 0.2em;
    margin: 0.2em;
    height: auto;
    width: 77%;
    margin-left: 4em;
}

#livret_btn_goto_home
{
    font-size: 1.2em;
    margin-top: 2em;
}

#livreto_download_finished
{
    margin-top: -7%;
    margin-left: 4em;
}

#delete_btn
{
    margin-left: 4%;
}