
content .btn
{
    font-size: 1.2em;
}

#livret_btn_goto_home
{
    margin: 2em;
}


#livret_btn_choose_nvalide
{
    margin-top: 5%;
    margin-left: 35%;
}

#livret_btn_choose_valide
{
    margin-top: 5%;
    margin-left: 1%;
}


.projetPublic
{
    width: 95%;
    padding: 1em;
    border-style: solid;
    border-width: 2px;
    border-color: lightgrey;
}

.projetPublic:hover
{
    background-color: lightgrey;

}

#choose_project_name
{
    font-size: 1.2em;
    width:50%;
}

#listeProjets
{
    margin: 3em;
}

.titre
{
    margin-top: 0;
    text-align: center;
    padding: 2em;
    font-size: 3em;
}

.selection
{
    text-align: center;
    padding: 1em;
}

.dropdown
{
    margin-left: 95%;
    margin-top: -5%;
}

#livret_modif_btn
{
    margin-left: 55%;
    margin-top: -5%;
}

 #livret_btn_see
{
    margin-left: 2%;
    margin-top: -5%;
}
