
.form-group
{
    width: 50em;
}

.control-label
{
    margin: 1em 1em 1em 0em;
    padding: auto;
    font-size: 1.5em;
    margin-right: 20em;
}

.form-control
{
    margin-right: 5em;
    font-size: 1.2em;
    height: auto;
    /*text-align: center;*/
}

#eventForm .form-control-feedback {
    top: 0;
    right: -15px;
}
.statCAS {
    padding: 1.1em 1.05em 0.4em 1.05em;
}
.form-complete {
    margin-left: 2em;
    margin-bottom: 15em;
}

#iuto_livretbundle_projet_descripProjet
{
    /*width: 50em;*/
    height: 20em;
    font-size: 1.2em;
    margin-left: 4em;
    margin-right: 7em;
}

#iuto_livretbundle_projet_bilanProjet
{
    /*width: 50em;*/
    height: 12em;
    font-size: 1.2em;
    margin-left: 4em;
    margin-right: 7em;
}

#iuto_livretbundle_projet_submit
{
    margin: 1em;
    font-size: 1.2em;
    margin-top: 30em;
}

form[name=iuto_livretbundle_projet]
{
    margin-left: 2em;
}

#iuto_livretbundle_projet_intituleProjet
{
    width: 30em;
    height: 3em;
    margin-left: 4em;
}

#iuto_livretbundle_projet_dateDebut
{
    width: auto;
    height: 3em;
    margin-left: 4em;
}

#iuto_livretbundle_projet_dateFin
{
    width: auto;
    height: 3em;
    margin-left: 4em;
}

#iuto_livretbundle_projet_clientProjet
{
    margin-left: 4em;
}

#livret_cancel_create_student
{
    margin-left: 35em;
    font-size: 1.2em;
    margin-bottom: -44em;
}


#livret_add_img
{
    margin-left: 2em;
    width: 30em;
    margin-bottom: 2em;
}

#livret_add_img > a
{
    margin-top: auto;
    margin-left: 2em;
}

#images_projet
{
    height: 10em;
    margin-top: -41em;
}

#images
{
    margin-left: 2em;
}

#images > a > img
{
    height: 7em;
    width: 7em;
}

#key_words_project
{
    margin-top: -10em;
    margin-left: 2em;
    width: 40em;
}

.add-word
{
    margin-top: 0em !important;
    font-size: 1.2em;
}

/*#livret_add_word*/
/*{*/
    /*margin-left: -2em;*/
/*}*/


