
#iuto_livretbundle_projet >  .form-group
{
    width: 55%;
}

.control-label
{
    margin: 1em 1em 1em 0em;
    padding: auto;
    font-size: 1.5em;
    margin-right: 20em;
}

.form-control
{
    margin-right: 5em;
    font-size: 1.2em;
    height: auto;
    /*text-align: center;*/
}

#eventForm .form-control-feedback {
    top: 0;
    right: -15px;
}
.statCAS {
    padding: 1.1em 1.05em 0.4em 1.05em;
}
.form-complete {
    margin-left: 2em;
    margin-bottom: 5em;
}

#iuto_livretbundle_projet_descripProjet
{
    height: 20em;
    font-size: 1.2em;
    margin-left: 4em;
    margin-right: 7em;
}

#iuto_livretbundle_projet_bilanProjet
{
    height: 12em;
    font-size: 1.2em;
    margin-left: 4em;
    margin-right: 7em;
}

#iuto_livretbundle_projet_submit
{
    margin: 1em;
    font-size: 1.2em;
}

form[name=iuto_livretbundle_projet]
{
    margin-left: 2em;
}

#iuto_livretbundle_projet_intituleProjet
{
    width: 60%;
    height: 3em;
    margin-left: 4em;
}

#iuto_livretbundle_projet_dateDebut
{
    width: auto;
    height: 3em;
    margin-left: 4em;
}

#iuto_livretbundle_projet_dateFin
{
    width: auto;
    height: 3em;
    margin-left: 4em;
}

#iuto_livretbundle_projet_clientProjet
{
    width: 50%;
    margin-left: 4em;
}

#livret_cancel_create_student
{
    margin-left: 35em;
    font-size: 1.2em;
    margin-top: -7em;
}
