.form-group
{
    width: 70%;
}

.control-label
{
    margin: 1em 1em 1em 0em;
    padding: auto;
    font-size: 1.5em;
    margin-right: 30%;
}

.form-control
{
    margin-right: 15em;
    font-size: 1.2em;
    height: auto;
    /*text-align: center;*/
}



#iuto_livretbundle_user_modif_submit
{
    margin: 1em;
    font-size: 1.2em;
}

form[name=iuto_livretbundle_user_modif]
{
    margin-left: 7em;
}

