.title_accueil {
    text-align: center;
    font-size: 410%;
    margin-top: 6%;
}

body,footer {
  font-family: Arial;
}
body {

}

.buttons_accueil {
    text-align: center;
    margin: 5% 5% 0px 5%;
}

#btn_accueil {
    font-size: 210%;
    width: 35%;
    height: 9em;
    margin: 0% 3%;
}

#wrapper {
 padding-left: 250px;
}

#sidebar-wrapper {
 margin-left: -250px;
 left: 250px;
 width: 250px;
 background: #000;
 position: fixed;
 height: 100%;
 overflow-y: auto;
 z-index: 1000;
 transition: all 0.4s ease 0s;
}

.sidebar-nav li a {
 color: #AB2345;
 height: 65px;
 line-height: 60px;
 font-size: 18px
}

.sidebar-nav li.active {
 color: #fff;
 background: rgba(255,255,255,0.2);
 text-decoration: none;
}
