.title_accueil {
    text-align: center;
    font-size: 410%;
    margin-top: 6%;
}

body,
footer {
  font-family: Arial;
}

.buttons_accueil {
    text-align: center;
    margin: 5% 5% 0px 5%;
}

#btn_accueil {
    font-size: 210%;
    width: 35%;
    height: 9em;
    margin: 0 3%;
    background-color: #eaeaea;
}

#btn_accueil:hover {
    background-color: #cbcbcb;
}

#wrapper {
 padding-left: 250px;
}

#sidebar-wrapper {
 margin-left: -250px;
 left: 250px;
 width: 250px;
 background: #000;
 position: fixed;
 height: 100%;
 overflow-y: auto;
 z-index: 1000;
 transition: all 0.4s ease 0s;
}

.sidebar-nav li a {
 color: #FFF;
 height: 65px;
 line-height: 60px;
 font-size: 18px;
 text-align: center;
}

#statutCAS{
  color: #000;
  height: 50px;
  line-height: 60px;
  font-size: 18px;
  text-align: center;
}

.sidebar-nav li a:hover {

    background-color: #cbcbcb;
}

.sidebar-nav li.active {
 color: #fff;
 background: #820063;
 text-decoration: none;
}

#content {
    margin-left: 15%;
}

.buttonhome,
.buttonhome:focus {
    background-color: #c3c3c3;
    text-decoration: none;
    color: #000000;
    padding: 8px 20px;
    line-height: 3em;
    border-radius: 6px;
}

.buttonhome:hover {
    background-color: #b9b9b9;
    text-decoration: none;
    color: #000000;
    padding: 8px 20px;
    line-height: 3em;
    border-radius: 6px;
}

ul {
    list-style: none;
    padding: 0;
}