{% extends 'base.html.twig' %}


{% block title %}
    <title>Correction projets</title>
{% endblock %}


{% block content %}
    </br>
    <h1> Contenu du compte-rendu </h1>
    </br>
    <div class="formulaire">
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form(form) }}

        <a type="button" class="btn btn-retour" href="{{ pagePrec }}">
            <  Retour
        </a>

        <a type="button" class="btn btn-suivant" href="{{ pageSuiv }}">
            Suivant  >
        </a>

    </div>


    <div class="popup-box">
        <div class="popup-head">
            <div class="popup-head-left">
                Correction
            </div>
        </div>


        <!-- A FAIRE : BOUCLE FOR SUR TOUS LES MESSAGES ENREGISTRES-->

        <div class="popup-messages">

            <!--SI PROF FAIRE MSG À GAUCHE -->
            <div class="direct-chat-messages">
                <div class="chat-box-single-line">
                    <abbr class="timestamp">DATE</abbr>
                </div>
                <div class="direct-chat-msg-left">
                    <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name-left">Professeur</span>
                    </div>
                    <div class="direct-chat-text-left">
                        Commentaire professeur
                    </div>
                </div>
            </div>


            <!--SI ETUDIANT FAIRE MESSAGE À DROITE-->
            <div class="direct-chat-messages">
                <div class="chat-box-single-line">
                    <abbr class="timestamp">DATE</abbr>
                </div>
                <div class="direct-chat-msg-right">
                    <div class="direct-chat-info-right clearfix">
                        <span class="direct-chat-name-right">Etudiant</span>
                    </div>
                    <div class="direct-chat-text-right">
                        Réponse étudiant
                    </div>
                </div>
            </div>
        </div>
        <div class="reponseCorrection">
            <input type="text" value ="Veuillez taper une réponse suite à vos modifications"> </input>
        </div>
    </div>


{% endblock %}