{% extends 'base.html.twig' %}

{% block content %}
    <div class="div_home">
        <div class="form">
            <h1 class="h1_home"> Présentation du département </h1>

            <textarea class="form-control" rows="20" cols="100" id="édito" title="Édito"
                      placeholder="Veuillez écrire votre présentation ici..."></textarea>

            <br/>


            {% for o in range(0, options|length - 1) %}
                <a href="{{ routing_options[o] }}" class="buttonhome">{{ options[o] }}</a>
            {% endfor %}


        </div>


    </div>
{% endblock %}
