{% extends 'base.html.twig' %}

{% block content %}
    <div class="div_home">
<h2>Bienvenue sur Livret'O</h2>
    <p>Utilisez le menu de gauche pour voir les projets ou pour en savoir plus sur l'IUT</p>
    </div>
{% endblock %}