{% extends 'base.html.twig' %}

{% block content %}
    <div class="div_home">
        <h2 class="h1_home"> Bienvenue sur Livret'O </h2>
        {% for o in range(0, info|length - 1) %}
            <a href="{{ routing_info[o] }}" class="buttonhome">{{ info[o] }}</a>
        {% endfor %}
    </div>
{% endblock %}
