{% extends 'base.html.twig' %}

{% block content %}
    <div class="list-group allPresentationIUTO" style="padding: 2%">
        <h1> L'IUT en quelques chiffres </h1>
        <div class="bodyPresentationIUTO">
            <h2> L'IUT d'Orléans </h2>
            <div class="contentPresentationIUTO">
                <p> L'IUT d'Orléans existe depuis 50 ans. 150 personnels permanents accueillent 1400 étudiants et
                    dispensent environ 49000h de cours. Le personnel se réparti de la manière suivante: </p>
                <ul class="presentationIUTO">
                    <li>
                        40 personnels administratifs
                    </li>
                    <li>
                        50 enseignants à temps plein
                    </li>
                    <li>
                        60 enseignants-chercheurs
                    </li>
                </ul>
                <p> Plus de 160 intervenants professionnels enseignent dans nos formations. </p>
            </div>

            <h2> Les départements et les diplômes </h2>
            <div class="contentPresentationIUTO">
                <p> L'IUT d'Orléans est composé de 6 départements d'études qui ont été créés dans l'ordre suivant: </p>
                <ul class="presentationIUTO">
                    <li>
                        1966 : Chimie
                    </li>
                    <li>
                        1967 : GMP (Génie Mécanique et Productique)
                    </li>
                    <li>
                        1968 : GEA (Gestion des Entreprises et des Administrations)
                    </li>
                    <li>
                        1984 : Informatique
                    </li>
                    <li>
                        1992 : OGP devenu ensuite QLIO (Qualité, Logistique Industrielle et Organisation)
                    </li>
                    <li>
                        2010 : GTE (Génie Thermique et Energie)
                    </li>
                </ul>
                <p> L'IUT d'Orléans prépare aux 6 spécialités de DUT (Diplôme Universitaire de Technologie)
                    correspondant aux 6 départements d'enseignement ainsi qu'à 10 spécialités de Licences
                    Professionnelles. </p>
                <p> 5 DUT sont proposés en apprentissage ainsi que la totalité des licences professionnelles. </p>
                <p> 2 spécialités de DUT (Informatique et GEA) sont proposées en année spéciale. </p>
            </div>

            <h2> Les étudiants </h2>
            <div class="contentPresentationIUTO">
                <p> L'IUT d'Orléans accueille actuellement un peu plus de 1400 étudiants dont 1100 préparent un DUT et
                    300 une licence professionnelle. 250 étudiants sont en alternance (apprentissage ou contrat pro) et
                    une quarantaine en formation continue. </p>
                <p> L'an dernier, sur les 512 étudiants en deuxieme année de DUT, 466 ont obtenu leur diplôme et sur les
                    268 étudiants en licence professionnelle 252 ont obtenu leur diplôme. </p>
            </div>
        </div>
    </div>
{% endblock %}