/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
/var/cache/dev/*
var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/web/bundles/
*~
/.idea/*
/src/AppBundle/Controller/TestController.php
/app/config/parameters.yml.save
var/logs/dev.log
/vendor/*
composer.lock