/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/web/bundles/
*~
/.idea/*
/src/AppBundle/Controller/TestController.php
/app/config/parameters.yml.save
/vendor/*
*.lock
/.git/.MERGE_MSG.swp
.DS_Store
src/.DS_Store
src/IUTO/.DS_Store
src/IUTO/LivretBundle/.DS_Store
src/IUTO/LivretBundle/Controller/.DS_Store
/var/bootstrap.php.cache
