<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
          {% block title %}
            {% if 1==1 %} <!--CAS = étudiant-->
              Connecté en tant qu'{{statutCAS}}
            {% else %} <!--CAS = professeur ou chef de département ou service communication -->
              Connecté en tant que {{statutCAS}}
            {% endif %}

          {% endblock %}
        </title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <ul id="menu-principal">
                <li> <a href="#">option</a> </li>

        </ul>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
