<page>
    <head>
        <meta charset="utf-8">
        <style>
            .entete_edito {
                text-align: center;
                margin-bottom: 15px;
            }

            .titre {
                font-size: 45px;
                white-space: nowrap;
                margin-bottom: 0;
            }


            .edito {
                margin-bottom: 15px;
            }

            table {
                width: 100%;
            }

            .fifty-percent {
                width: 50%;
            }
        </style>
    </head>

    <body>
        <table>
            <tr>
                <td class="fifty-percent">
                    <img src=".{{ asset('assets/images/IUTO.jpg') }}" alt="Logo IUT" style="max-height: 125px"/>
                </td>
            </tr>
        </table>

        <div class="entete_edito">
            <h1 class="titre"> {{ titre }} </h1>
        </div>

        <div class="edito">
            <p> {{ texte|nl2br }} </p>
        </div>
    </body>
</page>