{% extends 'base.html.twig' %}


{% block title %}
  <title>Correction projets</title>
{% endblock %}

{% block body %}
  <h1> Information du projet </h1>
    {% block content %}
    {{form(form)}}
    {% endblock %}
    <div class="commentaires">

    </div>
{% endblock %}
