{% extends 'base.html.twig' %}
{% block title %}
    Correction projets
{% endblock %}
{% block content %}

<h1> Demandes de correction de projets </h1>
{% if projets|length > 0 %}
<p> Choisir un projet à corriger :</p>
<form>
  <select name="nom" size="1">
    {% for elem in projets %}
      <option>{{elem}}
    {% endfor %}
  </select>
</form>
<input type="submit" value="Suivant"/>
{% else %}
    Il n'y a aucun projets à corriger
{% endif %}

{% endblock %}
