{% extends 'base.html.twig' %}

{% block title %}
    Correction projets
{% endblock %}

{% block content %}
    <h1> Texte à écrire </h1>

    <div>
        <button type="button" class="btn btn-envoyer-msg" href="">
            Bouton 1
        </button>

        <button type="button" class="btn btn-envoyer-msg" href="">
            Bouton 2
        </button>

        <button type="button" class="btn btn-envoyer-msg" href="">
            Bouton 3
        </button>
    </div>

    <a type="button" class="btn btn-retour" href="http://localhost:8000/4/correctionProf3">
        <  Retour
    </a>

{% endblock %}
