{% extends 'base.html.twig' %}
{% block title %}
    Correction projets
{% endblock %}
{% block content %}

    <div class="list-group" style="padding: 2%">
        <h1 class="">Projets validés </h1>
        <div style="padding: 2%">
            <h2><small>Choisir un projet validé</small></h2>

            {% if projets|length > 0 %}
                <ul class="list-group">
                    {% for projet in projets %}
                        <li class="list-group-item" style="padding: 1%; margin: 1%">
                            <a href="/{{ projet.id }}/correctionProf2" class="list-group-item">
                                {{ projet.intituleProjet }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>

            {% else %}
                <p>Vous n'avez pas de projet validé.</p>
            {% endif %}
        </div>

    </div>

    <a type="button" class="btn btn-retour" href="{{ pagePrec }}">
        <  Retour
    </a>



{% endblock %}
