{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
{% endblock %}

{% block content %}
    <div class="div_home">
        <h1 class="h1_home"> Génération de livret </h1>

        <div class="form">
            <div>
                <select class="selectpicker departement" data-live-search="true" multiple="multiple" name="departement"
                        data-selected-text-format="count > 5" data-count-selected-text="Tous les départements"
                        title="Aucun département sélectionné">
                    <option value="info"> Informatique</option>
                    <option value="gea"> GEA</option>
                    <option value="gmp"> GMP</option>
                    <option value="chimie"> Chimie</option>
                    <option value="gte"> GTE</option>
                    <option value="clio"> CLIO</option>
                </select>
            </div>

            <br/><br/>

            <div>
                <select class="selectpicker annee" data-live-search="true" multiple="multiple" name="annee"
                        data-selected-text-format="count > 3" data-count-selected-text="Toutes les promotions"
                        title="Aucune promotion sélectionnée">
                    <option value="1A"> 1ere Année</option>
                    <option value="2A"> 2e année</option>
                    <option value="LP"> Licence Pro</option>
                    <option value="AS"> Année Speciale</option>
                </select>
            </div>

            <br/><br/>

            <a href="#" class="buttonhome">Générer PDF</a>
        </div>
        {{ parent() }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
{% endblock %}
