{% extends 'base.html.twig' %}

{% block content %}
    <div class="div_home">

    <h1 class="h1_home"> Génération de livret </h1>

    <div class="form">
    <form>
        <select>
        <option>{{ livrets.intituleLivret }}</option>
        </select>
    </br></br></br></br></br>

        {% for o in range(0, options|length - 1) %}
            <a href="{{ routing_options[o] }}" class="buttonhome">{{ options[o] }}</a>
        {% endfor %}
    </form>
    </div>
    </div>
{% endblock %}