{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css"/>
{% endblock %}

{% block content %}
    <div class="div_home">
        <h1 class="h1_home"> Génération de livret </h1>

        {{ form(formCreate) }}

        {{ parent() }}
    </div>
{% endblock %}
