{% extends 'base.html.twig' %}

{% block content %}
    <h3> {{ statutCAS|capitalize }} </h3>
    <ul>
        {% for o in options %}
            <li>
                <a href="#" class="buttonhome">{{ o }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}