{% extends 'base.html.twig' %}

{% block content %}
    <div class="div_home">
        <h1 class="h1_home"> Édito </h1>
        <div class="form">

            {% form_theme form 'bootstrap_3_layout.html.twig' %}
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
