{% extends 'base.html.twig' %}

{% block content %}
    <div class="div_projects">
        <h1>Projets :</h1>
        {% if projets|length > 0 %}
            {% for projet in projets %}
                <h2>{{ projet.intituleProjet }}</h2>
                <a href="/{{ id }}/{{ projet.id }}/complete" class="buttonhome">Voir correction projet</a>
            {% endfor %}
        {% else %}
            <p>Vous n'avez pas de projets.</p>
        {% endif %}
    </div>
{% endblock %}
