{% extends 'base.html.twig' %}

{% block content %}
    <div class="div_confirm_complete">
        <a href="" class="buttonhome">Aperçu du compte rendu</a>
        <a href="" class="buttonhome">Enregistrer sur l'ordinateur</a>
        <a href="" class="buttonhome">Terminer et envoyer en correction</a>
    </div>
{% endblock %}