{% extends 'base.html.twig' %}

{% block content %}
    <div class="div_confirm_complete">
        <a href="/generate/{{ projet.id }}" class="btn btn-success">Aperçu du compte rendu</a>
        {#TODO link + style#}
        <a href="" class="btn btn-default">Enregistrer sur l'ordinateur</a>
    </div>
{% endblock %}